# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    responsive.css                                     :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: ychufist <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2019/01/14 19:29:20 by ychufist          #+#    #+#              #
#    Updated: 2019/01/14 19:29:29 by ychufist         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

body
{
    background: url("../../Desktop/fon.JPG");
}
table {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2vw;
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
}
td {
    color: white;
    height: 5vw;
    width: 5vw;
}
.number
{
    text-align: left;
    font-size: 0.8vw;
}
.atom_w {
    text-align: right;
    font-size: 0.8vw;
}
